.banner {
  height: 400px;
  object-fit: cover;
}

.container {
  max-width: 700px;
  margin: 0 auto;

  .postInfo {
    display: flex;
    margin-bottom: 4rem;

    time,
    address,
    span {
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }

    time {
      margin-right: 1.5rem;
    }

    address {
      margin-right: 1.5rem;
      font-style: normal;
    }
  }

  .postSection + .postSection {
    margin-top: 3rem;
  }
}
